{% extends "base.html" %}
{% block css %}
    <link href="/static/css/band_card.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="d-flex flex-column align-items-center p-2">
        <div class="band-card shadow" title="{{ band.description }}">
            <img src="{{ band.logo }}" class="card-img-top" alt="{{ band.title }}">
        </div>
        <div>{{ band.description }}</div>
        <div class="h5"> Discography:</div>
        <div>
            {% for album in discography %}
                <div class="row p-1" title="{{ album.description }}">
                    <div class="col-4 text-end">
                        <img src="{{ album.cover }}" class="rounded col-12" alt="{{ album.title }}">
                    </div>
                    <div class="col-8">
                        <div>{{ album.title }}</div>
                        <div>Year: {{ album.year }}</div>
                        <div>Length: {{ album.length }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}