{% extends "base.html" %}
{% block css %}
    <link href="/static/css/band_card.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-sm d-flex flex-row flex-wrap justify-content-between">
        {% for band in bands %}
            <div class="card band-card shadow m-2" title="{{ band.description }}">
                <img src="{{ band.logo }}" class="card-img-top" alt="{{ band.title }}">
                <h5 class="card-title">{{ band.title }}</h5>
            </div>
        {% endfor %}
    </div>
{% endblock %}